* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
  }
  /* CONTAINER */
  .container{
    margin: 0 auto;
    width: 80%;
}
/* CLEAR FLOAT */
.clear{
    clear: both;
}
.header{
    padding-top: 20px;
}
  .test {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
  
  .test i {
    width: 40px;
    height: 40px;
    background: #002146;
    line-height: 40px;
    border-radius: 50%;
   
    font-size: 16px;
    vertical-align: bottom;
    color:#fdc800;
    display: inline-block;
  }

  .menu{
     padding:20px;
  }
  .menu ul li{
    display: inline;
    padding-right:20px;
  }
  .menu ul li a{
    text-decoration: none;
    font-weight:bold;

  }
  /* CAROUSEL */
  .carousel{
      background-image: url(./images/2.jpg);
      width: 100%;
      height: 85vh;
      background-size:cover;
      /* background-position:center; */
  }
  /* INTRO */
  .intro{
    padding-top: 40px;
  }
  .text__intro{
      width: 50%;
      padding-right: 40px;
      float:left ;
  }
.text__intro p{
    padding-top: 15px;
    line-height: 1.5;
    opacity: 0.5;
}
.text__intro .btn__intro{
    width: 110px;
    height: 30px;
    background-color: #fdc800;
    margin-top: 30px;
    border: none;
    font-weight: bold;
}
.pic__intro{
    width: 50%;
    float: left;
   
}
.pic__intro img{
    width: 100%;
    padding-bottom: 40px;
    
}
.info__intro{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f6f6f6;
   
}
.content__intro{
    float: left;
    width: 25%;
    padding-left: 50px;
}
.content__intro h1{
    float: left;
    width: 20%;
}
.content__intro .text__intro{
    width: 80%;
    float: left;
    opacity: 0.8;
}
/* ICON */
.icon{
    padding: 100px 0;
    
}
.parent__icon{
    padding: 10px;
    background-color: white;
    width: 25%;
    float: left;
}
.child__icon{
    background-color:#002146;
    text-align: center;
    height: 120px;
    padding:30px;
    
}
.child__icon a{
 font-size: 30px;
 text-decoration: none;
 color: white;
}
/* \POST */
.post{
    padding-top: 50px;
    background-color: #f6f6f6;
    height: 800px;
}
.title__post{
    width: 50%;
    float: left;
    padding-bottom: 100px;
    
}
.title__post h2{
    padding-bottom: 40px;
}
.picture__post{
    width: 30%;
    float: left;
    padding-right: 20px;
}
.picture__post img{
    width: 100%;
    border-radius:5px;
}
.content__post{
    width: 70%;
    padding-bottom: 20px;
}
.content__post p{
    line-height:2.5;
    opacity: 0.5;
}
.content__post span{
    opacity: 0.7;
}
.late__post{
   height: 170px;
   padding-top:30px;
   background-color: white;
}
hr{
    width: 80%;
    margin: 0 auto;
    border: 0.5px solid rgb(194, 191, 191) ;
}
.btn__post{
        background-color:  #fdc800;
        padding: 10px 30px;
        border: none;
        float: right;
        margin-top: 20px;
        border-radius: 5px;
        color: 20px;
        font-weight: bold;
        opacity:0.8;
}

/*  */
.event__post{
    width: 50%;
    float: left;
    padding-left: 50px;
}
.event__post h2{
    padding-bottom: 20px;
}
  .content__even {
    margin: auto;
    padding: 20px;
    /* background: white; */
    width: 20%;
    float: left;
  }
  .chia{
      padding-bottom: 20px;
      background-color: white;
      padding-right: 20px;
      margin-top: 20px;
  }
  .card {
    width: 100%;
    text-align: center;
  }
  .card__top {
    background-color: yellow;
    padding: 20px;
    border-radius: 10px 10px 0 0;
  }
  .card__bottom {
    background-color: blue;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
  }
  .content__even__right{
      padding-top: 20px;
      font-size: 16px;
  }
  .content__even__right h3{
      padding-bottom: 10px;
  }
  .content__even__right p>a{
      padding-right: 15px;
      color: blue;
      text-decoration: none;
  }
  .content__even__right p span{
    border-left: 1px solid gray;
    padding-right: 20px;
  }
  /* Footer */
  .footer{
    color: white;
    background-color: #002146;
    height: 350px;
    font-size: 16px;

  }
  .footer1{
      width: calc(100%/3);
      float: left;
      padding:50px 0 10px 0;
      margin: 0 auto;
      
  }
  .footer1 h3{
     padding-bottom: 20px;
     font-size: 22px;
  }
  .footer1 li{
      padding:5px 20px 5px 0 ;
      list-style: none;
  }
  .footer1 li a{
      color: white;
      text-decoration: none;
  }
  .footer1 i{
      color:#fdc800 ;
      padding-right: 10px;
  }
  .footer hr{
     margin-bottom: 20px;
     border: 0.5px solid #404245;
     width: 100%;
  }