:root{
--animate-duration:2s;
}*,::after,::before{
margin:0;padding:0;box-sizing:border-box
}
body,html{
color:#636363;font-family:Roboto,sans-serif;font-weight:400;line-height:1.6}li{list-style:none}a{text-decoration:none}.container{max-width:1199px;margin:auto}.btn-gradient{padding:20px35px;font-size:15px;font-weight:500;background-image:linear-gradient(toright,#f55f8d0,
#f8ae5651%,
#f55f8d100%);
background-size:200%;
border:1p xsolid transparent;
transition:all.5s;
border-radius:30px;
color:#fff;
cursor:pointer;
outline:0;
text-transform:uppercase;
line-height:1.2
}.btn-gradient:hover{
background-position:rightcenter
}.titlep{
font-weight:600;
font-size:22px;
margin-bottom:20px;
color:#f55f8d
}.titleh2{
font-size:70px;
line-height:1.1;
font-weight:800;
color:#262626;margin-bottom:20px}.section-inner{padding-top:115px}.animateDuration{animation-duration:2s}header{position:absolute;top:0;left:0;width:100%}.header__content{display:flex;justify-content:space-between;align-items:center}nav{display:flex;align-items:center}navul{display:flex;margin-right:30px}.header__contentli{padding:55px15px}.header__contentlia{color:#070120;
text-transform:capitalize;
font-size:15px;
font-weight:500;
transition:all.5s
}.header__contentspan{
display:inline-block
}.header__contenti{
font-size:9px;
margin-top:-3px;
vertical-align:middle
}.header__contentli:hovera{
color:#f55f8d
}.header__contentli:hoverspan{
animation:upToDown.3sforwards
}.saCarousel{
padding-top:180px;
overflow:hidden;
background-image:url(../img/pic2.png);
background-position:top;
background-size:100%
}.saCarousel__content{
display:flex;align-items:center
}.saCarousel__articlep{
font-size:18px;
margin-bottom:15px
}.saCarousel__contentli{
padding:10px5px10px0;font-size:20px
}.saCarousel__contentul{
margin-bottom:20px
}.saCarousel__left{
width:60%
}.saCarousel__right{
width:40%
}.saCarousel__banner{
width:570px;margin-left:50px
}.saCarousel__bannerimg{
max-width:100%;
display:block
}.saCarousel__articlei{
width:35px;height:35px;line-height:35px;text-align:center;font-size:24px;color:#fff;border-radius:35px;font-weight:900;background-image:linear-gradient(toright,#f55f8d0,#f8ae5651%,#f55f8d100%);background-size:200%;margin-right:10px
}.services{
padding-bottom:0;
background-image:url(../img/bg2.png);
background-size:cover;
background-position:topcenter;
text-align:center
}.services__content{
display:grid;grid-template-columns:repeat(3,1fr);gap:30px;margin-top:40px
}.services__item{
border-radius:.5rem;
background:#fff;
box-shadow:0060px0rgba(0,0,0,.1);
padding:30px45px;
transform:translateY(0);
transition:all.5s
}.services__item:hover{
transform:translateY(-20px)
}.services__itemimg{
width:215px
}.services__itemh3{
font-weight:700;
font-size:1.5rem;
color:#262626;margin:15px0}.aboutUs{background-image:url(../img/bg15.png);background-size:100%;background-position:centerright;background-repeat:no-repeat;padding-bottom:85px;overflow:hidden}.aboutUs__content{display:flex;justify-content:flex-end;align-items:center;position:relative}.aboutUs__left{width:60%;position:absolute;left:-17%}.aboutUs__right{width:50%}.aboutUs__leftimg{width:100%;border-radius:0100px100px0}.aboutUs__righti{font-size:24px;color:#f55f8d;
margin-right:10px;
vertical-align:middle
}.aboutUs__rightp{
margin-bottom:15px
}.aboutUs__rightul{
margin-bottom:30px
}.number{
background-image:url(../img/bg14.png);
background-position:center;
background-repeat:no-repeat;
padding:80px050px;
text-align:center
}.number__content{
display:flex;justify-content:space-around
}.number__item{
width:25%
}.number__itemi{
font-size:45px;
background-image:linear-gradient(toright,#f55f8d0,#f8ae5651%,#f55f8d100%);
background-size:200%;
color:#fff;
width:80px;
height:80px;
line-height:80px;
display:inline-block;
border-radius:50%;
margin-bottom:15px
}.number__itemp:first-of-type{
font-size:65px;
font-weight:800;
color:#f55f8d;
line-height:1
}.number__itemp:last-of-type{
color:#262626;font-size:18px}.features{background-image:url(../img/bg2.png);background-size:100%;background-position:center;background-repeat:no-repeat;padding-bottom:0;overflow:hidden}.features__content{display:flex}.features__left,.features__right{width:50%}.features__banner{margin-right:-80px}.features__bannerimg{max-width:100%;animation:move25sinfinite}.features__item{padding:050px30px0}.features__item:nth-of-type(2){padding:0030px50px}.features__bg{box-shadow:0060px0rgb(000/10%);padding:30px;background-color:#fff;border-radius:10px;display:flex;align-items:center;position:relative;overflow:hidden
}.features__bg::after{
content:"";background-image:linear-gradient(toright,#f55f8d0,#f8ae5651%,#f55f8d100%);background-size:200%;position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;transition:all1s
}.features__bg:hover::after{
opacity:1
}.features__itemi{
font-size:80px;
line-height:1;
color:#f55f8d;
z-index:1;
transition:all1s
}.features__itemh3{
font-weight:800;
color:#262626;font-size:1.5rem;transition:all1s}.features__itemdiv{padding-left:25px;z-index:1;transition:all1s}.features__bg:hoverdiv,.features__bg:hoverh3,.features__bg:hoveri{color:#fff
}.portfolio{
background-image:url(../img/bg17.png);
background-size:cover;
background-position:topcenter;
text-align:center
}.portfolio__content{
display:grid;grid-template-columns:repeat(2,1fr)1.5fr;gap:35px
}.portfolio__item{
border-radius:10px;
position:relative;
overflow:hidden;
}.portfolio__item::before{
content:"";width:50%;height:100%;position:absolute;top:0;left:-100%;display:block;background:linear-gradient(toright,rgba(255,255,255,0)0,rgba(255,255,255,.3)100%);transform:skewX(-25deg);transition:all.75s
}.portfolio__item:hover::before{
left:125%
}.portfolio__overlay{
position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.4);opacity:0;transition:all.75s;
}.portfolio__item:hover.portfolio__overlay{
opacity:1
}.portfolio__icon{
position:absolute;top:20px;right:20px;font-size:28px;color:#fff;width:50px;height:50px;line-height:50px;background:linear-gradient(toright,#f55f8d0,#f8ae5651%,#f55f8d100%);background-size:200%;border-radius:10px;transform:translate(20px,-20px);transition:all.75s
}.portfolio__item:hover.portfolio__icon{
transform:translate(0)
}.portfolio__icona{
cursor:pointer
}.portfolio__text{
position:absolute;bottom:30px;left:30px;text-align:left;transform:translateY(150px);transition:all.75s
}.portfolio__item:hover.portfolio__text{
transform:translateY(0)
}.portfolio__texth3{
font-size:22px;
font-weight:800;
color:#fff
}.portfolio__textp{
color:#fff;opacity:.7
}.portfolio__itemimg{
width:100%;height:100%
}.portfolio__item1{
grid-column:1/span2
}.portfolio__item5{
grid-column:1/span2
}.portfolio__item6{
grid-column:3/4;
grid-row:2/4
}.plan{
background-image:url(./imgSAMAR/bg16.png);
background-size:cover;
background-position:center;
text-align:center
}.content__plan{
display:grid;
grid-template-columns:repeat(3,1fr);
margin-top:40px;
gap:30px
}.item__plan{
padding:35px60px;
border:3pxsolidtransparent;
border-radius:8px;
background-color:#fff;
box-shadow:1px050pxrgb(0,0,0,.1);
border-image:100round;
transition:0.5s
}.item__plan:hover{
border-image:url(./imgSAMAR/br.png)1round
}.item__planimg{
width:125px
}.item__planh3{
font-weight:700;
color:#262626;
font-size:2rem
}
.item__planli,.item__planp
{
font-size:18px;color:#262626;
font-weight:600
}.item__planli{
font-weight:400
}.item__planspan{
color:#f8ae56;font-size:50px;font-weight:800
}.item__planul{
text-align:left;
padding:15px0;
border-top:1pxsolid#e1e1f0;
}.item__planli{
padding:5px0
}.item__plani{
font-size:12px;
width:26px;
height:26px;
line-height:26px;
text-align:center;
background-color:#feeff3;
color:#f55f8d;
border-radius:100%;
margin-right:15px;
}.testimonial{
text-align:center;
background-image:url(./imgSAMAR/bg17.png);
background-size:100%;
background-position:center;
background-repeat:no-repeat
}.testimonial__content{
min-height:300px
}.testimonial__thumbs{
width:300px;
margin:auto;
box-sizing:border-box;
height:170px;
position:relative;
overflow:hidden
}.testimonial__thumbs.testimonial__picimg{
width:80px;
height:80px;
border-radius:100%;
padding:5px;
position:relative;
z-index:2;
background-color:#f55f8d
}.testimonial__thumbs::after,.testimonial__thumbs::before{
content:"";
width:30px;
position:absolute;
top:0;
height:100%;
z-index:2
}.testimonial__thumbs::before{
left:0;
background:linear-gradient(toright,#fff0,rgba(255,255,255,0) 100%)
}.testimonial__thumbs::after{
right:0;
background:linear-gradient(to left,#fff0,rgba(255,255,255,0) 100%)
}.testimonial__pic.shape-bx{
position:relative;
height:35px;
width:50px;
left:50%;
transform:translateX(-50%);
bottom:18px;
opacity:0;
transition:1s;
background-color:#f55f8d
}.swiper-slide-thumb-active.testimonial__pic.shape-bx{
opacity:1
}.testimonial__pic.shape-bx::before{
content:"";
position:absolute;
left:0;
bottom:0;
background-image:url(./imgSAMAR/pattern12.png);
background-position:bottom;
background-size:contain;
height:100%;
width:100%;
transition:1s
}.testimonial__pic::after,.testimonial__pic::before{
content:"";
background-color:#f55f8d;
border-radius:50px;position:absolute;
left:50%;
transform:translateX(-50%);
opacity:0
}.testimonial__pic::before{
height:15px;
width:15px;
bottom:30px
}.testimonial__pic::after{
height:10px;
width:10px;
bottom:0
}.swiper-slide-thumb-active.testimonial__pic::after,.swiper-slide-thumb-active.testimonial__pic::before{
opacity:1
}.testimonial__comment{
min-height:300px;
width:100%;
overflow:hidden
}.testimonial__comment.swiper-wrapper{
padding-bottom:20px
}.testimonial__thumbs.testimonial__pic{
padding:30px00;transition:0.5s
}.testimonial__thumbs.swiper-slide-thumb-active.testimonial__pic{
padding:0 0 40px
}.testimonial__text{
padding:30px;text-align:center;box-shadow:0 10px 20px 0 rgba(0,0,0,.1);
margin:0 auto;
border-radius:10px;
background-color:#fff;
max-width:770px;
position:relative
}.swiper-pagination-bullets.swiper-pagination-horizontal,.testimonial.swiper-horizontal>.swiper-pagination-bullets{
bottom:auto
}.swiper-pagination-bullet-active{
background:#f55f8d
}.testimonial__texti{
position:absolute;
top:10px;
left:30px;
font-size:70px;
color:#f55f8d;
transform:rotate(-180deg)
}.testimonial__textp{
font-size:18px;
font-weight:400;
font-style:italic;
padding:0 15px 15px
}.testimonial__name{
font-size:22px;
font-weight:800;
color:#000;line-height:26px;margin-bottom:5px}
.testimonial__position{
    font-size:15px;
    color:#f55f8d;
margin-bottom:20px;
padding:0
}.blog{
background-image:url(./imgSAMAR/bg16.png);
background-size:cover;
background-position:topcenter;
text-align:center;
padding-bottom:50px
}.blog__item{
text-align:left;
background:rgba(245,95,141,.1);
border-radius:8px
}.blog__header{
position:relative
}.blog__headerimg{
width:100%;border-radius:8px
}.blog__headerp{
background-image:linear-gradient(toright,#f55f8d0,#f8ae5651%,#f55f8d100%);
background-size:200%;
border-radius:6px;
padding:10px20px;
font-size:14px;
color:#fff;
position:absolute;
bottom:-20px;
left:15px
}.blog__body{
padding:30px15px20px15px;line-height:1.4;margin-bottom:20px
}.blog__bodyh3{
font-size:1.5rem;
font-weight:700;
color:#262626}.blog__footer{display:flex;align-items:center;padding:15px;text-transform:uppercase;font-weight:400;font-size:14px;border-top:1pxsolidrgba(0,0,0,.05)}.blog__footeri{font-size:22px;color:#f55f8d;
vertical-align:sub
}.blog__footerp:first-of-type{
margin-right:20px
}.blog__footerp:first-of-typespan{
color:#f55f8d
}
footer{
background-image:url(../img/bg4.png);
display:block;
height:auto;
background-repeat:no-repeat;
background-position:center;
background-color:#0e1b1f;background-size:contain;color:#fff;
font-size:15px;
position:relative
}
footer::before{
content:"";background-image:url(../img/pattern2.png);background-position:lefttop;background-repeat:no-repeat;background-size:contain;position:absolute;top:0;left:0;width:100%;height:100%
}.footer__top{
padding:50px60px;background-color:#fff;border-radius:10px;box-shadow:0030px0rgba(0,0,0,.1);background-image:url(../img/pattern3.png);background-position:bottom;background-repeat:no-repeat;background-size:100%;position:relative;display:flex
}.footer__form,.footer__text{
width:50%
}.footer__texth2{
font-size:28px;
color:#262626}.footer__formform{display:flex;border-radius:.5rem;box-shadow:0060px0rgb(0,0,0,.1)}.footer__forminput{padding:20px20px;font-size:15px;font-weight:400;color:#888;
background:#fff;
flex:11auto;
border-radius:.5rem00.5rem;
border:1pxsolid#fff;
outline:0;
transition:all.5s
}.footer__forminput:focus,.footer__forminput:hover{
border-color:#f55f8d
}.footer__formbutton{
padding:20px35px;font-size:20px;background-image:linear-gradient(toright,#f55f8d0,#f8ae5651%,#f55f8d100%);background-size:200%;border-color:transparent;transition:all.5s;border-radius:0.5rem.5rem0;color:#fff;cursor:pointer
}.footer__formbutton:hover{
background-position:rightcenter
}.footer__formbutton:hoveri{
animation:toLeftFromRight.5sforwards;display:inline-block
}.footer__bottom{
display:flex;padding:70px0;position:relative
}.footer__item{
width:25%
}.footer__itemh3{
font-size:24px;
font-weight:700;
padding-bottom:10px;
margin-bottom:30px;
position:relative;
color:#fff
}.footer__itemh3::after,.footer__itemh3::before{
content:"";position:absolute;bottom:0;left:0;height:4px;border-radius:20px;background:linear-gradient(toright,#f55f8d0,#f8ae5651%,#f55f8d100%);background-size:200%
}.footer__itemh3::before{
width:15px
}.footer__itemh3::after{
width:45px;left:20px
}.footer__contactli{
padding:8px0;display:flex;align-items:center
}.footer__contacti{
height:40px;width:40px;line-height:40px;margin-right:10px;text-align:center;background:linear-gradient(toright,#f55f8d0,#f8ae5651%,#f55f8d100%);display:block;border-radius:50px
}.footer__itemli{
padding:.5rem0
}.footer__itema{
color:#636363;font-size:16px;transition:all.5s}.footer__itemi{font-weight:700;margin-right:10px}.footer__itema:hover{color:#fff
}.footer__copyright{
background-color:#1f343b;padding:10px0;position:relative}.footer__content{display:flex;justify-content:space-between}.footer__leftspan{color:#f55f8d
}.footer__copyrighta{
height:32px;width:32px;line-height:32px;text-align:center;display:inline-block;border-radius:50px;font-size:14px;color:#fff;background-color:rgba(255,255,255,.1);transition:all.5s
}.footer__copyrighta:hover{
background:#f55f8d
}.backToTop{
width:50px;height:50px;background:#f55f8d;border-radius:8px;line-height:50px;text-align:center;display:block;position:fixed;right:15px;bottom:15px;color:#fff;transition:all.2s;box-shadow:-4px4px24px-10px#f55f8d;visibility:hidden;opacity:0
}.cd-top--is-visible{
visibility:visible;opacity:1
}@
keyframesupToDown{
49%{
transform:translateY(100%)
}
50%{
opacity:0;transform:translateY(-100%)
}
51%{
opacity:1
}
}@
keyframesmove2{
0%{
transform:rotate(1deg)translate(2px,2px)
}
50%{
transform:rotate(-1deg)translate(-2px,-2px)
}
100%{
transform:rotate(1deg)translate(2px,2px)
}
}@
keyframestoLeftFromRight{
49%{
transform:translateX(100%)
}
50%{
opacity:0;transform:translateX(-100%)
}
51%{
opacity:1
}
}

