* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clear {
  clear: both;
}

.header {
  background: #ffc0b5;

  padding: 10px 80px;
}
.header li {
  display: inline;
  margin-right: 20px;
}

.header li a {
  text-decoration: none;
  color: black;
}
.carousel {
  background-image: url(./Image/BG.png);

  height: 70vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* start activities */
.activities {
  padding: 80px 10px;
  background: #efe3d6;
}
.activities .title {
  text-align: center;
}

.activities .title p {
  font-weight: bold;
  font-size: 24px;
  opacity: 0.5;
}
.item__activities {
  height: 400px;
  width: 25%;
  float: left;
  padding: 0px 15px;
}

.item__activities .content {
  background: white;
  height: 100%;
  padding: 30px;
  border-radius: 16%;
  position: relative;
}
.item__activities img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 16%;
}
.item__activities .title__item{
  text-align: center;
}
.item__activities .title__item p{
  margin: 15px 0;
}
.title__item{
  margin-top: 20px;
}
.title__item button{
  padding: 10px 30px;
  border-radius: 16px;
  opacity: 0.5;
  border:none;
  background-color: #e8e8e8;
}
.title__item p{
  opacity: 0.5;
}
.activities .container{
  margin: 30px 0;
}
.view_all{
  width: 150px;
  height: 50px;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
  background:transparent;
  color:#e36b4d;
  border: 1px solid #e36b4d;
  cursor: pointer;
}
button{
  cursor: pointer;
}
.item__activities .heart{
  width: 35px;
  height: 35px;
  background:#ccddf1;
  text-align: center;
  vertical-align:super ;
  line-height:35px ;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  right: 50px;
  color: #e36b4d;
}
/* end activities */
/* start contact */
.contact{
  height:350px;
  width: 100%;
  background-color: #f8e1db;

}
.contact .left , .contact .right{
  height: 100%;
  width: 50%;
  float: left;
  
  
}
.contact .left img{
  width: 80%;
  height: 100%;
  object-fit:contain;

}
.contact .left{
    background-image: url(./Image/mask.png);
    background-position: center;
    /* background-size:auto; */
    background-repeat: no-repeat;
}
.text__right{
  opacity: 0.5;
  line-height: 1.5;
  padding-bottom: 20px;
}
.opa{
  opacity: 0.5;
  font-weight: bold;
  font-size: 25px;
}
.text__right p{
  font-size: 20px;
}
.download, .follow{
  width: 41%;
  float: left;
}
.ios,.android{
  width: 50%;
  float: left;
}
/* .f{
  width: 30%;
  float: left;
  font-size: 30px;
  padding-left: 10px;
  line-height: 30px;
  
} */
.text_ios{
  width: 70%;
  float: left;
}
.ios, .android{
  color: white;
  /* padding-right: 2px; */
  padding-top: 10px;
  
}
.ios{
  padding-left: 5px;
}
/* .text__ios p{
  font-size: 10px;
}
.text__ios span{
  font-size: 20px;
} */
/* .fff{
  background-color: black;
} */
.mobile{
  padding-top: 10px;
}
.icon__social{
  width: 15%;
  float: left;
  font-size: 25px;
  padding-top: 20px;
 
}
.icon__social a{
  color: #e76f51;
}
/* end contact */
/* Footer */
.footer{
  background-color: #f8e1db;
  width: 100%;
  height: 500px;
  margin-top: 100px;
  font-size: 20px;
  line-height: 1.5;
  padding-top: 100px;
  font-weight: bold;
  padding-left: 40px;
  border-radius:50px 50px 0 0 ;
}
.content__footer{
  width: 35%;
  float:left;
}
.ul__footer{
  width: calc(65/3);
  float: left;
  padding-left: 80px;
  
}
.content__footer p, .ul__footer p{
  font-size: 24px;
  padding-bottom: 20px;
  opacity: 0.7;
}
.content__footer span{
  opacity: 0.5;
}
.ul__footer li{
  list-style-type: none;
}
.ul__footer a{
  text-decoration: none;
  color: black;
  opacity: 0.5;
}
.copyright{
  text-align: center;
  padding-top: 50px;
  opacity: 0.5;
}