*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    /* background-color: #f9f4f2; */
    
}
.clear{
    clear: both;
}
.header{
    background-color: #f8e1db;
    padding-left: 50px;
}
.header li{
    display: inline;
    /* padding-right: 30px; */
    margin-right: 30px;

}
.header li a{
    text-decoration: none;
    color: black;
    
}
.carousel{
    background-image: url(./img_css/Image/BG.png);
    height:100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
/* activities */
.activities{
    padding: 80px 10px;
    background-color: #faf5f1;
    /* background: #f9f4f2 ; */
    text-align: center;
   
    
}
.activities .title{
    text-align: center;
}
.activities .title p{
    font-weight:bold;
    font-size: 40px;
    opacity: 0.5;
}
.activities .container{
    padding-top: 30px;

}
.item_activities{
    width:25%;
    height: 400px;
    float:left;
    text-align: center;
     /* padding-right: 100px; */
     /* margin-right: 10px; */
    border-radius: 10%;
    padding: 0 15px;

}
.item_activities .content{
    background-color: white;
    height: 100%;
    border-radius: 16%;
    
}
.item_activities .content img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border: 1px;
    border-radius: 16%;
    margin: 0 auto;
    

    
}
.item_text h2{
   font-size: 30px;
   opacity: 0.8;
}
.item_text p{
   font-size: 20px; 
   opacity: 0.4;
   padding-bottom: 20px;
   
}
.item_text button{
    font-size: 20px; 
    width: 50%;
    height:40px;
    border-radius: 20px;
    opacity: 0.4;
    background-color:#e8e8e8 ;
    font-weight: 600;
    border: none;
    margin-bottom: 50px;
}
.btn_viewall{
    color: red;
    border: 1px solid red;
    width: 150px;
    height:40px;
    border-radius: 20px;
    margin-top: 50px;
   
}
.contact{
    background-color: #f8e1db;
}
.img_contact{
    /* background:url(./img_css/Image/homeicon.png); */
    width: 50%;
    padding:50px;
}
.content_contact{
    
}