*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width:1200px;
    margin: 0 auto;
}
.title__all {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 30px;
    text-transform: capitalize;
}
.title__all p{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 700;
} 
.title__all h2{
    font-size: 70px;
    margin: 0;
    font-weight: 600;
    line-height: 1.1;
    color: #262626;
    margin-bottom: 20px;
}
/* header */
header{
    padding: 30px 0;
    position: absolute;
    width: 100%;
    z-index: 10;

   
}
.header__content{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav{
    margin-left:200px;
}
nav ul li{
    display: inline;
    /* padding-left: 20px; */
    padding: 55px 15px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;

}
nav ul li a i{
    font-size: 9px;
    padding-left: 4px;
    vertical-align: middle
}
nav ul li:hover span{
    animation:navma 0.3s backwards;
    position: relative; 
}
nav ul li:hover a{
    color:#f55f8d ;
}
.btn__get{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    transition: 0.5s;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    line-height: 1.2;
    text-transform: uppercase;
}
.btn__get:hover{
    background-position: right center;
}
@keyframes navma {
    0% {
        top:0px;
        opacity:1 ;
    }
    40% {
        
        top:15px;
       
    }
    60% {
        top:-15px;
        opacity: 0;
    }
    100% {
        top:0px;
        opacity: 1;
    }
}
/* end header */
/* star carrousel */
.carousel{
    background-image: url(./imgSAMAR/pic2.png);
    background-position:center top;
    background-size: 100%;
    padding-top: 150px;
    
}

.carousel .container {
    display: flex;
    justify-content:space-between;
    width: 100%;
}
.carousel__left p:first-child{
    color: #f55f8d;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 500;
 
   
}
.carousel__left h2{
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 10px;
}
.carousel__left :nth-child(3){
    font-size: 18px;
    margin-bottom: 15px;
    font-weight:350;
    color: #636363;
    line-height: 1.6;
    padding-right: 200px;
}
.carousel__left ul{
    list-style: none;
}
.carousel__left ul li{
    font-size: 18px;
    font-weight:350;
    color: #636363;
}
.carousel__left ul li i {
 border: 1px solid transparent;
 padding: 10px 10px;
 margin-bottom: 10px;
 border-radius: 100%;
 color: white;
 background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
 background-size: 200%;
}
.carousel__right{
    margin-right: -120px;
}
.carousel__right img{
    opacity: 0;
}
/* Animate carousel */
@keyframes fadeInUp {
    from {
        transform: translateY(150px);
        opacity: 0
    }
    20%{
        opacity: 0
    }
    70%{
        opacity: 0.8
    }
    to {
        transform: translateY(0px);
        opacity: 1
    }
}
.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    /* animation-duration: 1s; */
    animation-fill-mode:forwards;
  
}
.animate__1s{
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-delay: 0.2s;
}
.animate__2s{
    animation-name: fadeInUp;
    animation-duration:2s;
    animation-delay: 0.5s;
}
.animate__3s{
    animation-name: fadeInUp;
    animation-duration:4s;
    animation-delay: 0.5s;
    
}
.animate__4s{
    animation-name: fadeInUp;
    animation-duration:2s;
    animation-delay: 2s;

}
.animate__5s{
    animation-name: fadeInUp;
    animation-duration:4s;
    animation-delay: 2s;
}
.animate__spic{
    opacity: 1;
    animation-name: fadeInUp;
    animation-duration:1s;
    animation-delay: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
/*END Animate carousel */
/* end carousel */
/* start services */
.services{
    background-image: url(./imgSAMAR/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.content__services{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item__services{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(255, 255, 255);
    margin: 15px;
    padding-top: 30px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    border-radius: 16px;
    /* position: relative; */
    transition: 0.5s;
   
    
}
.item__services:hover{
    transform:translateY(-25px);
    top: -20px;
}
.item__services img {
    width: 250px;
    height: 250px;

}
.item__services h3{
    font-size: 24px;
    margin: 0;
    padding-top: 20px;
}
.item__services p{
    margin: 10px;
    font-size: 16px;
    padding: 10px 20px;
    opacity: 0.5;
}
/* end services */
/* start about */
.about{
    background-image: url(./imgSAMAR/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    overflow: hidden;
}
.about .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding-top: 100px;
}
.pic__about{
    width: 60%;
    padding-top: 20px;
    position: absolute;
    left: -17%;
}
.content__about{
    width: 50%;
}
.pic__about img{
    border-radius: 0 100px 100px 0;
    width: 100%;
}
.content__about li{
    list-style: none;
    margin-left: -50px;
    margin-bottom: -5px;
    font-size: 16px;
}
.content__about i{
    color: #f55f8d;
    padding: 5px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid #f55f8d;
    border-radius:100%;
}
.content__about li span{
    opacity: 0.6;
}
.content__about p:first-child{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 500;
}
.content__about h2{
    font-size: 70px;
    font-weight: 700;
    line-height: 1.1;
    margin: 5px 0;


}
.content__about p:nth-child(3){
    opacity: 0.5;
}
/* end about */
/* NUMBER */
.number{
    margin-top: 100px;
    padding: 70px;
    background-image: url(./imgSAMAR/bg14.png);
    background-size: cover;
}
.number .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.number__item {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.number__item i{
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color:white;
    padding: 15px;
    border-radius: 50%;
    margin: 0;

}
.number__item p:first-of-type{
    font-size: 65px;
    color: #f55f8d;
    font-weight: 800;
    margin: 0;
    padding-top: 10px;
}
.number__item p:last-of-type{
    font: size 18px;
    color: #262626;
    margin: 0;
}
/* END NUMBER */
/* Features */
.features{
    background-image: url(./imgSAMAR/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
}
.features .title__all p{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 700;
    text-align:left;
    padding-left: 45px;
}
.features .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left__features{
    width: 90%;
    overflow: hidden;
}
.features__bg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 16px;
    transition: 0.5s;
}
.features__bg:hover{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: white;
}
.features__bg:hover i{
    color: white;
}
.features__bg:hover p{
    color: white;
}
.features__bg i{
    padding: 40px;
    font-size: 80px;
    color: #f55f8d;
    transition: 0.5s;
}
.features h3{
    font-size: 24px;
    font-weight: 800;
}
.features p{
    font-size: 16px;
    color: #636363;
    font-weight: 400;
    transition: 0.5s;

}

.item__features{
    padding-bottom: 30px;
    padding-right: 30px;
}

.items2{
    /* margin-left: 40px; */
    position: relative;
    left: 30px;

}
.right__features{
    animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {transform: rotate(1deg);}
}
.right__features img{
    width: 100%;
}
/* end features */
/* start portfolio */
.portfolio{
    background-image: url(./imgSAMAR/bg17.png);
    background-size: cover;
    background-position: top center;
}
.content__portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 20px;
}
.item__portfolio img{
    width: 100%;
    object-fit: cover;
}
/* .icon__portfolio i{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    font-size: 25px;
    color: white;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transition: 0.5s;
} */
.icon__portfolio {
    position:absolute;
    top:20px;
    right:20px;
    font-size:28px;
    color:#fff;
    width:50px;
    height:50px;
    line-height:50px;
    background:linear-gradient(to right, #f55f8d 0, #f8ae56 51% , #f55f8d 100% );
    background-size:200%;
    border-radius:10px;
    transform:translate(10px,-10px);
    transition:0.75s;
    
}
    .item__portfolio:hover .icon__portfolio {
    transform: translate(0);
}

/*  */
.item__portfolio:hover i{
    position: absolute;
    transform: translate(10px);
    top: 10px;
    
}
.item__portfolio{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    right: 10px;
    transition: 0.5s;
}
.item__portfolio::before{
        content: "";
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        display: block;
        background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
        transform: skewX(-25deg);
        transition: 0.75s;
}
.item__portfolio:hover::before{
    left: 100%;
}
.overlay__portfolio{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top:0;
    left: 0;
}
.item__portfolio:hover .overlay__portfolio{
    opacity: 1;
}
.item__portfolio:hover .icon__portfolio{
    position: absolute;
    top: 20px;
    right: 40px;
}
.item__portfolio:hover .text__portfolio{
    position: absolute;
    left: 20px;
    bottom: 30px;
}
.text__portfolio{
    position: absolute;
    bottom: -40px;
    transition: 0.75s;
    color: white;
}
.text__portfolio h3{
    font-size: 24px;
    font-weight: 600;
}
.text__portfolio p{
    opacity: 0.5;
}
.item1__portfolio{
    grid-column: 1/ span 2;
}
.item5__portfolio{
    grid-column: 1/span 2;
}
.item6__portfolio{
    grid-column:3/4;
    grid-row:2/4;
}
/* end portfolio */
/* Plan */
.plan {
    background-image: url(./imgSAMAR/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center
}
.content__plan{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top:40px;
}
.item__plan{
    padding:35px 60px;
    border: 3px solid transparent;
    border-radius:8px;
    background-color: #fff;
    box-shadow: 1px 0 50px rgb(0, 0, 0, .1);
    transition: 0.5s;
}
.item__plan:hover{
    border-image: url(./imgSAMAR/br.png) 1 round
}
.item__plan img{
    width: 125px;
}
.item__plan h3{
    font-weight: 700;
    color: #262626;
    font-size:2rem;
    margin:0;
}
.item__plan p{
    font-size:18px;
    color:#262626;
    font-weight:600;
    margin-bottom: 0;
}
.item__plan span {
    color: #f8ae56;
    font-size:50px;
    font-weight:600
}
.item__plan ul {
    text-align: left;
    padding: 15px 0;
    border-top: 1px solid #e1e1f0;
}.item__plan li {
    padding: 10px 0;
    font-size:18px;
    color:#262626;
    font-weight:400;
    list-style: none;
    opacity: 0.9;
    padding-bottom: 0;
}
.item__plan i {
    font-size: 12px;
    padding: 9px;
    text-align:center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100% ;
    margin-right: 15px;
}
/* end plan */
/* test */
.test{
    background-image: url(./imgSAMAR/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
  }
  
  .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: pink;
  }
  
  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
  }
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  .testimonial-text {
    padding: 20px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 4%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .testimonial-text i{
      position: absolute;
      left: 30px;
      top:20px;
      font-size: 70px;
      color: #f55f8d;
  }
.testimonial-icon{
    padding: 20px;
}
.testimonial-name{
    font-size: 22px;
    font-weight: 800;
    margin: 0;
    margin-bottom:5px;
}
.testimonial-text span{
    color: #f55f8d;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}
.testimonial-text p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 25px 20px;
    color: #636363;
    /* color:rgba(99, 99, 99,110%); */
}
.swiper-pagination-bullet-active{
    background-color:#f55f8d;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -2px;
}
.shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50% ;
    transform: translateX(-50%);
    bottom: 18px;
    opacity:0;
    transition: 0.1s;
    background-color:#f55f8d;
}.swiper-slide-thumb-active .shape-bx {
    opacity:1;
}
.shape-bx::before {
    content:"";
    position:absolute;
    left: 0;
    bottom: 0;
    background-image:url(./imgSAMAR/pattern12.png);
    background-position:bottom;
    background-size:contain;
    height: 100%;
    width: 100%;
    transition:0.1s
}
.testimonial-pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px;
    content: "";
    background-color:#f55f8d;
    border-radius:50px;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    opacity: 0;
}.testimonial-pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
    content: "";
    background-color:#f55f8d;
    border-radius:50px;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    opacity: 0;
}
.swiper-slide-thumb-active .testimonial-pic::after,.swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1
}
/* blog */
.blog{
    padding-bottom: 50px;
    background-image: url(./imgSAMAR/bg16.png);
    background-size: cover;
    background-position: top center;
}
.swiper-slide {
    background-color: #fff;

}
.head__blog{
    position: relative;
}
.head__blog img{
    width: 100%;
    border-radius: 8px;
}
.head__blog p{
    position: absolute;
    bottom: -25px;
    left: 15px;
    color: white;
    border-radius: 6px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    font-size: 14px;
    padding: 10px 20px;
}
.body__blog{
    padding: 30px 15px 20px 15px;
}
.body__blog h3{
    font-size: 24px;
}
.body__blog p{
    color: #636363;
    font-weight: 300;
}
.footer__blog{
    padding: 10px 15px 0px 15px;
    display:flex;
    font-size: 14px;
    text-transform: uppercase;
    border-top: 1px solid rgba(0,0,0,0.1);
    color: #636363;
}
.footer__blog i {
    color: #f55f8d;
    font-size: 22px;
    vertical-align: sub;
}
.footer__blog p:first-child span{
    color: #f55f8d;
    padding-right: 20px;
}
/* start footer */
.footer{
    background-image: url(./imgSAMAR/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    font-size: 15px;
    position: relative;
}
.footer::before{
    content: "";
    background-image: url(./imgSAMAR/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer__top{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(./imgSAMAR/pattern3.png);
    background-position: bottom;
    background-size: 100%;
    transition: 1s;
}
form input{
   
    padding: 25px 50px;
    width: 400px;
    height: 70px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
}
form button{
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    cursor: pointer;
}
form button:hover{
    background-position: right center;
}
form button:hover i{
    animation: toLeftFromRight 0.5s forwards;
    display: inline-block;
}
.footer__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color:white;
    padding: 80px 0;
}
.footer__item{
    width: 25%;
}
.footer__item a{
    color:#636363 ;
    font-size: 16px;
    transition: 0.5s;
}
.footer li{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.footer__contact li i{
    padding: 12px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    border-radius: 50px;
  
}
.footer__contact li span{
    font-size: 15px;
    font-weight: 400;
    padding-right: 10px;
}
.footer__item h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}
.footer__item h3::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 15px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.footer__item h3::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 4px;
    width: 45px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.footer li{
    padding:8px 0;
   
}
.footer ul{
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
.footer__item a{
    text-decoration: none;
    transition: 0.5s;
}
.footer__item li i {
    padding-right: 10px;
}
.footer__item a:hover{
    color: white;
}
.footer__copyright {
    background-color: #1f343b;
    padding:10px 0;
    position:relative;
    color: white;
}
.footer__content{
    display:flex;
    justify-content:space-between;
}
.footer__left span{
    color:#f55f8d;
}
.footer__copyright a {
    padding: 10px 13px;
    text-align:center;
    display:inline-block;
    border-radius:50px;
    font-size:14px;
    color:#fff;background-color:rgba(255,255,255,0.1);
    transition: 0.5s
}.footer__copyright a:hover {
    background: #f55f8d;
}
.backToTop{
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0
}
.cd-top--is-visible {
    visibility:visible;
    opacity: 1
}
@keyframes toLeftFromRight {
    49% {
        transform: translateX(100% )
    }
    50% {
        opacity: 0;transform: translateX(-100% )
    }
    51% {
        opacity: 1
    }
}