*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position:absolute;
    width: 100%;
    top:0;
    left: 0;
    z-index: 11;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
    transition: 0.3s;
    position: relative;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #35a22c;
    
}
.navbar-light .navbar-nav .nav-link::before{
    display: block;
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -5px;
    background-color: #35a22c;
    transition:0.5s;
}
.navbar-light .navbar-nav .nav-link:hover::before{
    width: 100%;
}
header .navbar-light .navbar-nav .active>.nav-link{
    color: #35a22c;
}
header .navbar-light .navbar-nav .active>.nav-link::before{
    color: #35a22c;
    width: 100%;
}
.animate__animated.animate__bounceInUp {
    --animate-duration: 2s;
  }
/* Carousel */
.carousel_bg{
    height: 100vh;
    object-fit: cover;
   
}
#carousel .carousel-caption img{
   
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#carousel .carousel-caption{
    bottom: 30%;
}

#carousel .carousel-item::before{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.4);
    top: 0;
    left: 0;
}
.carousel-indicators li{
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.carousel-indicators li.active{
    background-color: #35a22c;
}
/* products */
#products .item__content{
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 450px;
    text-align: center;
    cursor: pointer;

}
#products .item__content img{
    height: 350px;
    object-fit: cover;
}
#products .item__content .title{
    padding: 15px;
    height: 100px;
    border: 1px solid white;
 
    transform: 0.3s;
}
#products .item__content:hover .title{
    color: #35a22c;
    border-color:#35a22c;
    /* border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; */
    border-radius:0 0 16px 16px;
    border-top-color: white;
}
#products .item__content:hover p{
    color: black;
}
